
* {
    background-color: #97DFFC;
    
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#authorsname {
    font-family: 'Courier New', Courier, monospace;
}

#description {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hardskill {
    font-size: 20px;
}

.softskill {
    font-size: 22px;
}

.bold {
    color: #2C0735;
}

.italic {
    color: #4E148C;
}

#basicinformation {
    display: block;
}

.descriptionblock {
    height: 300px;
    width: 30%;
    display: inline-block;
    vertical-align: top;
}

.photoblock {
    display: inline-block;
}

.nameblock {
    text-align: center;
}